:root{
  --background-color-home: #4a4a4a;
  --background-color-website: #2e2e2e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: var(--background-color-home);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-home);
}

main, footer{
  background-color: var(--background-color-website);
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 5px;
}