:root{
  --duration-of-animation: 0.3s;
  --fonts-color: #27e6ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  background-color: #020138;
  margin-left: 200px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav {
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  gap: 20px;
  background-color: #01011e;
  width: 200px;
  position: fixed;
}

a {
  color: black;
}

section, a, footer{
  color: white;
}

ul li a {
  color: var(--fonts-color);
}

.name-title {
  color: var(--fonts-color);
  font-size: 100px;
  margin-bottom: 20px;
}

aside a {
  transition: var(--duration-of-animation);
}

aside a:hover {
  background-color: #020138;
  color: white;
  transition: var(--duration-of-animation);
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 10px; 
}

section {
  margin-left: 20px;
}

section a {
  text-decoration: none;
}

.short-personal-presentation, .skills, .education, .projects, .about, .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
} 

.short-description {
  font-size: 27px;
}
.contact-me {
  color: var(--fonts-color);
}

.short-description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons i{
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
  width: 40px;
  height: 40px;
}